.sms-text {
    font-size: 23px;
    font-weight: 500;
}

.qa-bottom-img {
    margin-bottom: 30px;
    height: 36px;
}

/*.footer {*/
/*    position: fixed;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*}*/
