<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h5>Please send your questions via SMS</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 sms-text">
                <img src="./assets/img/sms2.png" alt="" height="30px"/>
                SMS : 0717486414
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">

            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="copyright">
                    &copy; Copyright
                    {{test | date: 'yyyy'}}, Commercial Bank of Ceylon PLC - IT R&D | All Rights Reserved.
                    <img src="./assets/img/QA.png" class="qa-bottom-img"/>
                </div>
            </div>
        </div>
    </div>
</footer>
<!--<div class="footer">-->
<!--    <h2>footer</h2>-->
<!--</div>-->
