
    <div class="header">
        <div class="header page-titles">
            <div class="row">
                <div class="col-md-1">
                    <div class="qa-img">
                        <img src="assets/img/QA.png" height="60px" class="img-responsive">
                    </div>
                </div>
                <div class="col-md-8">
                    <h2 class="top-title">Managers Conference 2022</h2>
                </div>
                <div class="col-md-3">
                    <div class="logo">
                        <img src="assets/img/combank.png" height="60%" class="img-responsive">
                    </div>
                </div>
            </div>
        </div>
    </div>

