<div class="modal-header">
        <p class="modal-title pull-left">SMS User</p>
    <button type="button"
            class="btn-close close pull-right"
            aria-label="Close"
            (click)="modalRef.hide()">
        <span aria-hidden="true"
              class="visually-hidden">&times;</span>
    </button>
</div>
<div class="modal-body">

    <img src="./assets/img/sms2.png" alt="" height="45px"/>

    <div class="row">
        <div class="col-md-3">
            <label>Mobile Number</label>
        </div>
        <div class="col-md-1">
            :
        </div>
        <div class="col-md-8">
            <span>773572196</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Name</label>
        </div>
        <div class="col-md-1">
            :
        </div>
        <div class="col-md-8">
            <span>SAPUKOTANAGE NALIN PRASAD GUNATUNGA</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Branch</label>
        </div>
        <div class="col-md-1">
            :
        </div>
        <div class="col-md-8">
            <span>IT RESEARCH & DEVELOPMENT</span>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            <label>Message</label>
        </div>
        <div class="col-md-1">
            :
        </div>
        <div class="col-md-8 message-container">
            <span>Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an.
            Change wholly say why eldest period. Are projection put celebrated particular unreserved joy
            unsatiable its. In then dare good am rose bred or. On am in nearer square wanted.
            Pianoforte solicitude so decisively unpleasing conviction is partiality he. Or particular so
            diminution entreaties oh do. Real he me fond show gave shot plan. Mirth blush linen small
            hoped way its along. Resolution frequently apartments off all discretion devonshire.
            Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody spoil of taken he cause.
            Now indulgence dissimilar for his thoroughly has terminated. Agreement offending commanded my an.
            Change wholly say why eldest period. Are projection put celebrated particular unreserved joy unsatiable
            its. In then dare good am rose bred or. On am in nearer square wanted. Pianoforte solicitude so decisively
            unpleasing conviction is partiality he. Or particular so diminution entreaties oh do. Real he me fond show
            gave shot plan. Mirth blush linen small hoped way its along. Resolution frequently apartments off all
            discretion devonshire. Saw sir fat spirit seeing valley. He looked or valley lively. If learn woody
            spoil of taken he cause.
            </span>
        </div>
    </div>
</div>
<!--<div class="modal-footer">-->
<!--    <button type="button" class="btn btn-default" (click)="modalRef.hide()">Close</button>-->
<!--</div>-->
