/*table styles start here*/
.uploaded-table {
    width: 100%;
}

.mat-header-cell {
    font-weight: bold;
}

.mat-column-no {
    max-width: 30px;
    width: 30px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-column-no, td {
    padding-right: 10px;
    padding-left: 10px !important;
}

.mat-column-details {
    max-width: 150px;
    width: 150px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-column-details, td {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.mat-column-message {
    max-width: 300px;
    width: 300px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-column-message, td {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

td {
    font-size: 15px;
}

.mat-column-sequence {
    max-width: 140px;
    width: 140px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-column-sequence, td {
    padding-right: 10px !important;
    padding-left: 10px;
}
.table-container {
    overflow: auto;
    height: 550px;
    max-width: 100%;
}
.btn-ap {
    width: 127px;
}

.btn-save {
    width: 131px;
}

table, th {
    font-size: 15px;
}
.page-container {
    margin-top: 30px;
}

.priority-col {
    padding-right: 1px;
}

.sequence-col {
    padding-left: 1px;
}

.btn.btn-danger:disabled {
    background-color: white;
    color: white;
}

.card .card-header-info .card-icon, .card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text),
.card.bg-info, .card.card-rotate.bg-info .front, .card.card-rotate.bg-info .back {

    background-image: linear-gradient(to right,#178cec, #ffffff) !important;
}
