<div style="height: 100vh;">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-info">
                <h3 class="card-title">Message Approval</h3>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-md-3">
                    </div>
                </div>
                <div class="row table-container">
                    <div class="col-md-12">
                        <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 uploaded-table">

                            <!-- Name Column -->
                            <ng-container matColumnDef="detail">
                                <th mat-header-cell *matHeaderCellDef>Details/(Phone No/Branch)</th>
                                <td mat-cell *matCellDef="let element"> {{element.detail}} </td>
                            </ng-container>

                            <!-- Type Column -->
                            <ng-container matColumnDef="message">
                                <th mat-header-cell *matHeaderCellDef>Message</th>
                                <td mat-cell *matCellDef="let element"> {{element.message}} </td>
                            </ng-container>

                            <!-- Symbol Column -->
                            <ng-container matColumnDef="action">
                                <th mat-header-cell *matHeaderCellDef> Action</th>
                                <td mat-cell *matCellDef="let element"
                                    style="overflow: inherit;">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button"
                                                    (click)="viewMessage(modalTemplate)"
                                                    class="btn btn-sm btn-warning btn-ap">View</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6 offset-md-3">
<!--                                            <div class="btn-group btn-dw-group"-->
<!--                                                 style="margin: 0;" dropdown>-->
<!--                                                <button type="button"-->
<!--                                                        class="btn btn-sm btn-danger">{{this.priority}}</button>-->
<!--                                                <button id="button-split" type="button"-->
<!--                                                        dropdownToggle-->
<!--                                                        class="btn btn-sm btn-danger dropdown-toggle dropdown-toggle-split"-->
<!--                                                        aria-controls="dropdown-split">-->
<!--                                                    <span class="caret"></span>-->
<!--                                                    <span class="sr-only visually-hidden">Split button!</span>-->
<!--                                                </button>-->
<!--                                                <ul id="dropdown-split" *dropdownMenu class="dropdown-menu"-->
<!--                                                    (click)="dropdownOnClick($event)"-->
<!--                                                    role="menu" aria-labelledby="button-split">-->
<!--                                                    <li role="menuitem" value="High"><a class="dropdown-item">High</a></li>-->
<!--                                                    <li role="menuitem" value="Medium"><a class="dropdown-item">Medium</a>-->
<!--                                                    </li>-->
<!--                                                    <li role="menuitem" value="Low"><a class="dropdown-item">Low</a></li>-->
<!--                                                </ul>-->
<!--                                            </div>-->
<!--                                            <select formControlName="website" class="form-control">-->
<!--                                                <option disabled>Select Website</option>-->
<!--                                                <option>Choose Website</option>-->
<!--                                                <option>High</option>-->
<!--                                                <option>Low</option>-->
<!--                                            </select>-->

<!--                                            <select class="form-control">-->
<!--                                                <option selected>Open this select menu</option>-->
<!--                                                <option value="1">One</option>-->
<!--                                                <option value="2">Two</option>-->
<!--                                                <option value="3">Three</option>-->
<!--                                            </select>-->
<!--                                            <mat-form-field appearance="standard" style="text-align: center;">-->
<!--                                                <mat-label>Select Priority</mat-label>-->
<!--                                                <mat-select  class="form-control-small" value="{{element}}">-->
<!--                                                    <mat-option value="option1">High</mat-option>-->
<!--                                                    <mat-option value="option2">Medium</mat-option>-->
<!--                                                    <mat-option value="option3">Low</mat-option>-->
<!--                                                </mat-select>-->
<!--                                            </mat-form-field>-->
                                            <ngx-select-dropdown [multiple]="false"
                                            (change)="priorityOnChange($event)"
                                                                 [config]="config"
                                                                 [options]="priorityOptions">

                                            </ngx-select-dropdown>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button"
                                                    class="btn btn-sm btn-success btn-ap">Approve</button>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <button type="button"
                                                    class="btn btn-sm btn-danger btn-ap">Reject</button>
                                        </div>
                                    </div>
                                </td>
                            </ng-container>

                            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                            <tr mat-row
                                *matRowDef="let row;
                                columns: displayedColumns;"
                                style="height: 250px;"></tr>
                        </table>

                        <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #modalTemplate>
    <app-message-modal [dataFromParent]="modalRef"></app-message-modal>
</ng-template>
