/*table styles start here*/
.uploaded-table {
    width: 100%;
}

.mat-header-cell {
    font-weight: bold;
}

.mat-column-mobileNo {
    width: 150px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}

.mat-column-message {
    width: 300px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}
.mat-column-message, td {
    text-align: center;
    padding: 10px 10px 10px 10px;
}

.mat-column-action {
    width: 100px;
    text-align: center;
    border-right: 1px solid rgba(0,0,0,.12);
}
.table-container {
    overflow: auto;
    height: 550px;
    max-width: 100%;
}
.btn-ap {
    width: 127px;
}

.btn-dw-group {
    width: 131px;
}

table, th {
    font-size: 15px;
}

button.ngx-dropdown-button {
    max-width: 127px;
}
