<div class="container">
    <div class="row" style="height: 500px;">
        <div class="col-md-12" style="text-align: center; top: 30%">
            <p class="btn-p">Start Questionnaire</p>
            <button mat-raised-button color="primary"
                    (click)="openQuestions(content)"
                    class="btn-questionnaire">
                <mat-icon style="padding-right: 60%; padding-bottom: 60%">play_arrow</mat-icon>
            </button>
        </div>
    </div>

</div>

<ng-template #content let-modal>

    <div class="modal-header">
        <div class="qa-img">
            <img src="assets/img/QA.png" height="30px" class="img-responsive">
        </div>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">

        <ngb-carousel
                [wrap]="wrap"
                [showNavigationArrows]="true"
                [showNavigationIndicators]="false"
                [interval]="0"
                (slide)="onSlide($event)">
            <ng-template ngbSlide *ngFor="let image of images">
                <div class="wrapper">
                    <img [src]="imageSrc" alt="Random first slide">
                </div>
                <div class="carousel-caption">
                    <p class="message-text">{{question?.message}}</p>
                </div>

            </ng-template>

        </ngb-carousel>
    </div>
</ng-template>

<!--<button class="btn btn-outline-primary mb-2 mr-2" (click)="openQuestions(content)">Extra large modal</button>-->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)"
             size="medium"
             color="#fff"
             type="square-jelly-box"
             [fullScreen]="false">
    <p style="color: white"> Loading... </p>
</ngx-spinner>

