html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.container {
    max-width: 960px;
}

.questionnaire-div {
    max-width: 700px;
}

.card-deck .card {
    min-width: 220px;
}

.btn-questionnaire {
    color: #fff;
    background-color: #178cec;
    border-color: #178cec;
    box-shadow: 0 2px 2px 0 rgb(156 39 176 / 14%), 0 3px 1px -2px rgb(156 39 176 / 20%), 0 1px 5px 0 rgb(156 39 176 / 12%);
}

.card .card-header-info .card-icon,
.card .card-header-info .card-text,
.card .card-header-info:not(.card-header-icon):not(.card-header-text),
.card.bg-info,
.card.card-rotate.bg-info .front,
.card.card-rotate.bg-info .back {
    background: linear-gradient( 60deg, #178cec, #178cec);
}

.img-size {
    /* padding: 0;
        margin: 0; */
    height: 650px;
    width: 100%;
    background-size: cover;
    overflow: hidden;
}

.modal-body {
    padding: 0;
}

.modal-dialog {
    position: relative;
    max-width: 100%;
    margin: .5rem;
    pointer-events: none;
    top: 10px;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23009be1' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    width: 30px;
    height: 48px;
}

.question-card {
    width: 80%;
    position: relative;
    left: 138px;
    height: 550px;
    top: 30px;
}

.question-font {
    font-size: 30px;
    color: white;
    line-height: 30px;
    font-weight: 400;
    margin: 0 5px 24px;
    float: center;
    padding: 10px;
    margin: 0 5px 24px;
    font-family: "Calibri, sans-serif";
    text-align: justify;
}

.question-card-body {
    background-color: #178cec;
    overflow-y: scroll;
    overflow-x: hidden;
}

*::-webkit-scrollbar,
*::-webkit-scrollbar-thumb {
    width: 26px;
    border-radius: 13px;
    background-clip: padding-box;
    border: 10px solid transparent;
    background-color: white;
}

*::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 0 10px;
}

.question-card:hover {
    color: rgba(0, 0, 0, 0.3);
}

a.disabled {
    pointer-events: none;
    cursor: default;
}